.basic-input{
    background-color: white;
    line-height: 30px!important;
    border: 1px;
    border-radius: 20px!important;
    font-family: "Inter"!important;
    font-weight: 400!important;
    font-size: 18px!important;
    box-shadow: 4px -4px 4px 0px #00000026 inset;
}