.bot-chat-container {
    padding-bottom: 200px;
}
.prompt-input-container {
    display: flex;
    position: fixed;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
}
