.bot-edit-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.edit-basic-container{
    display: flex;
    margin-top: 50px;
    margin-bottom: 40px;
}

.avatar-overlay {
    border-radius: 0;
}

.edit-avatar:hover + .edit-avatar-text {
    visibility: visible;
}

.edit-basic-right{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    height: 100%;
    overflow: auto;
    width:100%;
    gap: 20px;
}

.edit-label{
    font-family: "Inter"!important;
    font-size: 24px!important;
    font-weight: 600!important;
    line-height: 24px!important;
    letter-spacing: 0em!important;
    display: flex;
    justify-content: center;
}

.edit-prompts-container{
    margin-top: 20px;
    margin-bottom: 20px;
}

.prompts-list-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.oneprompt-element{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.edit-publish-container{
    display: flex;
    flex-direction: column;
    gap:20px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.edit-photo-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 10px;
}

.edit-title-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 10px;
    margin-left: 30px;
}


/* .edit-avatar{
    height: 200px;
    width: 200px;
} */

/* .edit-avatar-text{
    font-family: "Inter"!important;
    font-size: 24px!important;
    font-weight: 600!important;
    line-height: 24px!important;
    letter-spacing: 0em!important;
    text-align: center;
    color: black !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
