.bot-card {
  box-shadow: 4px 4px 10px 0px #00000026 !important;
  text-decoration: none;
  border-radius: 20px !important;
}

.bot-card-media {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  margin-bottom: 0;
  margin-top: 25px;
}

.bot-card-name {
  font-family: Inter !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  line-height: 24px !important;
  letter-spacing: 0em !important;
  text-align: left;
}

.bot-card-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
  text-align: left;
}

.home-bg {
  height: 20%;
  width: 100%;
  margin-top: 100px;
}

.home-image-text {
  font-family: Abril Fatface, cursive !important;
  font-size: 45px !important;
  font-weight: 400 !important;
  line-height: 80px !important;
  letter-spacing: 0em !important;
  color: #fff !important;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list-header {
  font-family: Crimson Text !important;
  font-size: 36px !important;
  font-weight: 700 !important;
  line-height: 24px !important;
  letter-spacing: 0em !important;
  text-align: center;
  color: #666666;

}

.create-card-discription {
  font-family: Inter !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  line-height: 24px !important;
  text-align: center;
  color: #666666 !important;
}

.Divider {
  margin-top: 10px !important;
  margin-bottom: 30px !important;
  border: 1px solid #666666 !important;
}

.bot-box {
  margin-bottom: 20px !important;
}