.nav {
    margin-bottom: 100px;
}

.avatar-overlay{
    position: absolute;
    font-family: Inter !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0em;
    text-align: center;
    text-transform: none !important;
    cursor: pointer;
}

.avatar-overlay-profile{
    position: absolute;
    font-family: Inter !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0em;
    text-align: center;
    text-transform: none !important;
    cursor: pointer;
}


.avatar-overlay-profile:hover {
    position: absolute;
    font-family: Inter !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0em;
    text-align: center;
    text-transform: none !important;
    cursor: pointer;
}

.avatar-overlay:hover {
    position: absolute;
    font-family: Inter !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0em;
    text-align: center;
    text-transform: none !important;
    cursor: pointer;
}

.search-tab {
    margin-top: 10px;
    font-family: Inter !important;
    font-size: 20px !important;
    font-weight: 700 !important;
    line-height: 24px !important;
    letter-spacing: 0em;
    text-align: center;
    color: #666666;
    text-transform: none !important;
}

.MuiTabs-indicator {
    height: 15% !important; /* 调整下划线的宽度 */
}

.search-box {
    border: 1px solid #D9D9D9;
    box-shadow: 4px -4px 4px 0px #00000026 inset;
    border-radius: 25px;
    height: 100%;
    text-align: left;
    margin-left: -52%;
}

.market-choose {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 50px;
}

.search-bar {
    margin-bottom: 50px;
}

.input-box {
    font-family: Inter !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    letter-spacing: 0em;
    text-align: left;
    color: #666666  !important;
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
}

.market-card {
    border: none !important;
    margin-left: 8%;
    margin-right: 8%;
    padding-bottom: 50px;
}

.create-bot-card {
    box-shadow: 4px 4px 10px 0px #00000026 !important;
    text-decoration: none;
    border-radius: 20px !important;
}

.botlist-container {
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 10%;
    margin-right: 10%;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: large;
    font-weight: 300 !important;
}