
.navigator{
    width: 100%;
    height: 100px;
    background-color: white !important;
    box-shadow: 0px 10px 20px 0px #00000026;
    justify-content: center;
    display: flex;
    
}

.navigator-title-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigator-title{
    font-family: "Abril Fatface";
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;

}

.navigator-user {
    width: 70px;
    height: 70px;
}