.prompt-text-field-input {
    background-color: white;
    width: 604px!important;
    line-height: 30px!important;
    border: 1px;
    margin: 20px;
    border-radius: 20px!important;
    font-family: "Inter"!important;
    font-weight: 400!important;
    font-size: 18px!important;
}
